[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
selenium = "*"
django-webpack-loader = "*"
django-extensions = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
urllib3 = "*"
chardet = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-tables2 = "*"
django-filter = "*"
django-widget-tweaks = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
